.container1{
    background: url(https://t3.ftcdn.net/jpg/02/79/76/18/360_F_279761892_9NhPOi5IjeXgau9kPhbqltqw5hKL5qw4.jpg) no-repeat;
    background-size: cover;
    height: 500px;
}
.content{
    position: absolute;
    top: 200px;
    left: 200px;
}
.content h1, .content p{
    color: #FFFFF8;
}
.css-1633um2-MuiPaper-root {
    background-color: #fff;
    /* color: rgba(0, 0, 0, 0.87); */
    /* -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
    /* border-radius: 4px; */
    box-shadow: unset !important;
    /* background-color: #fff; */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    /* font-size: 2.875rem !important; */
    line-height: 1.43;
    letter-spacing: 0.01071em;
    padding: 8px;
    text-align: center !important;
    /* color: rgba(0, 0, 0, 0.6); */
    border: none;
    background: unset !important;
    word-wrap: break-word;
    color: #fff !important;
    /* transform: translateX(40px); */
}

@media screen and (min-width: 0px) {
    .css-1633um2-MuiPaper-root {
        font-size: 0.875rem ;
        transform: translateX(20px);
    }
    .container1{
        background: url(https://t3.ftcdn.net/jpg/02/79/76/18/360_F_279761892_9NhPOi5IjeXgau9kPhbqltqw5hKL5qw4.jpg) no-repeat;
        background-size:100% 120%;;
    }
}
@media screen and (min-width: 710px) {
    .css-1633um2-MuiPaper-root {
        font-size: 2.875rem !important;
    }
}

