@media screen and (min-width: 600px) {
    .css-cuefkz-MuiContainer-root {
        max-width: 90% !important;
    }
    .css-12zvdn5 {
        background-color: #cfe8fc;
        height: fit-content !important;
    }
}
.css-cuefkz-MuiContainer-root {
    /* width: 100%; */
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}
.css-12zvdn5 {
    background-color: #cfe8fc;
    height: auto !important;
}
